<div class="modal fade" id="modalKanbanTaskProduction" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-lighter">
      <div class="modal-body">

        <!-- Header -->
        <div class="row">
          <div class="col">

            <!-- Prettitle -->
            <h6 class="text-uppercase text-muted mb-3">
              <a href="#index.html" class="text-reset">AIRCRFT</a>
            </h6>

            <!-- Title -->
            <h2 class="mb-2">
              MVP Landing Page Startup Stack
            </h2>

            <!-- Subtitle -->
            <p class="text-muted mb-0">
              Finally, everything you need to easily launch your startup’s MVP landing page in one curated stack.
            </p> 
            
            <p class="text-center mb-3">
              <img src="assets/img/AIRCRFT Sidebar Logo.png" alt="AIRCRFT Sidebar Logo" class="img-fluid rounded">
            </p> 

          </div>
          <div class="col-auto">

            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </button>
            
          </div>
        </div> <!-- / .row -->


        <!-- Divider -->
        <hr class="my-4">

        <!-- Card 
        <div class="card">
            <div class="card-body">
              <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://d163.netlify.app/widgets-problem-stack.html" allowfullscreen></iframe>
                  <span aria-hidden="true">×</span>
                </div>
  
              </div>
            </div> 
 
        <!-- Card 
        <div class="card">
            <div class="card-body">
              <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="https://aircrft-127-2020.netlify.app/crm-companies" allowfullscreen></iframe>
                  <span aria-hidden="true">×</span>
              </div>
  
            </div>
         </div> -->

      </div>
    </div>
  </div>
</div>
